# hidden files
.*
!.github

# jekyll cache
_site
vendor

# rubygem
*.gem

# yard docs
doc

# npm dependencies
node_modules
package-lock.json


 Gemfile
 Gemfile.lock
 jekyll-theme-chirpy.gemspec
 tools
 docs
 README.md
 LICENSE
 gulpfile.js
 package.json

 posts
 categories
 archives
 tags